<div class="trainer-page container-fluid">
    <!-- Header Section -->
    <div class="header-section text-white d-flex align-items-center justify-content-center">
      <h1>Trainers</h1>
    </div>
  
  <div class="trainer-section">
    <!-- Trainer Card Section -->
    <div class="trainer-card">
      <img src="../../../assets/trainer-image.jpg" alt="Trainer Image" class="trainer-img" />
      <div class="trainer-info">
        <h2>Praveen Chirayath</h2>
        <h3>Founder</h3>
        <div class="trainer-languages">
          <span class="badge">Spoken Engish</span>
          <span class="badge">IELTS</span>
          <span class="badge">Employment skills</span>
        </div>
        <div class="trainer-courses">
          <span>3 Courses</span>
        </div>
        <p class="about-trainer">
            Praveen Chirayath is a distinguished corporate trainer with over 20 years of experience in language instruction and personal development. As the founder of The Next Level, an educational institute based in Thrissur, Kerala, he has been instrumental in enhancing English language proficiency among learners. His expertise encompasses language skills, interview techniques, and personality grooming. 
            In June 2023, Praveen achieved a significant milestone by setting a record in the Indian Book of Records for teaching English grammar, underscoring his dedication to education.
        </p>
        <a target="_blank" href="https://praveen-chirayath.vercel.app/" class="share-btn">Praveen Chirayath</a>
      </div>
    </div>
  </div>
  